<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>DwCms1</display-name>	
	 <context-param>
	 	<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/config/dwcms-servlet-admin.xml 
			classpath:/config/dwcms-servlet-front.xml 
			classpath:/config/captcha-context.xml 
			<!--classpath:/config/quartz-context.xml--> 
		</param-value>
	 </context-param>
	 <context-param>  
        <param-name>log4jConfigLocation</param-name>  
        <param-value>classpath:log4j.properties</param-value>  
    </context-param> 
<!-- SpringMVC 配置分发器和初始化beans文件 -->
	 <servlet>
		<servlet-name>DwCmsAdmin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/config/dwcms-servlet-admin.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet> 
	<servlet>
		<servlet-name>DwCmsFront</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/config/dwcms-servlet-front.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>	
	<servlet-mapping>
		<servlet-name>DwCmsAdmin</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DwCmsFront</servlet-name>
		<url-pattern>*.vm</url-pattern>
	</servlet-mapping>	
	<!-- Hessian Spring配置 -->
	 <servlet>
			<servlet-name>Hessian</servlet-name>
			<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
			<init-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>classpath:/config/hessian-servlet.xml</param-value>
			</init-param>
			<load-on-startup>1</load-on-startup>
	</servlet> 	
	<servlet-mapping>
		  <servlet-name>Hessian</servlet-name>
		  <url-pattern>/remote/*</url-pattern>
	</servlet-mapping>
	<!-- Hessian Servlet配置
	<servlet>
		  <servlet-name>hessian</servlet-name>
		  <servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		  <init-param>                                        
		      <param-name>home-class</param-name>
		      <param-value>com.doadway.dwcms.webservice.hessian.impl.HessianServiceImpl</param-value>
		  </init-param>
		  <init-param>                                     
		      <param-name>home-api</param-name>
		      <param-value>com.doadway.dwcms.webservice.hessian.HessianService</param-value>
		  </init-param>
	</servlet>
	<servlet-mapping>
	  <servlet-name>hessian</servlet-name>
	  <url-pattern>/remote/*</url-pattern>
	</servlet-mapping>
	 -->
    <!--定义一个RopServlet,并指定其映射的URL-->  
    <servlet>  
        <servlet-name>rop</servlet-name>       
        <servlet-class>com.rop.RopServlet</servlet-class>  
        <load-on-startup>2</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
	        <servlet-name>rop</servlet-name>  
	        <url-pattern>/router</url-pattern>  
    </servlet-mapping>  
<!-- 验证码 -->	
	<servlet>
		<servlet-name>Jcaptcha</servlet-name>
		<servlet-class>com.doadway.common.captcha.JcaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jcaptcha</servlet-name>
		<url-pattern>/captcha.svl</url-pattern>
	</servlet-mapping>		
	<filter>
		<filter-name>processTime</filter-name>
		<filter-class>com.doadway.common.web.ProcessTimeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>processTime</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>processTime</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>			
	<filter-mapping>
		<filter-name>processTime</filter-name>
		<url-pattern>*.vm</url-pattern>
	</filter-mapping>			
	<filter-mapping>
		<filter-name>processTime</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>			
    <!-- shiro安全框架 -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	<!-- 过滤.do请求的编码规则 -->
	<filter>
			<filter-name>encodingFilter</filter-name>
			<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
			<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
			</init-param>
	        <init-param>
	            <param-name>forceEncoding</param-name>
	            <param-value>true</param-value>
	        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
		<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.vm</url-pattern>
	</filter-mapping>
	<!-- 自动装配配置文件信息   -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.doadway.common.util.IbatisOgnlListener
		</listener-class>	
	</listener>	
<!-- 通用JSP页面配置信息 -->
   <jsp-config>
   	  <!-- 自定义标签 -->	 
	  <taglib>
		   <taglib-uri>DataTypeTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/dataType.tld</taglib-location>
	  </taglib> 
	  <taglib> 
		   <taglib-uri>UserTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/userGroup.tld</taglib-location>
	  </taglib>	  
	  <taglib> 
		   <taglib-uri>RoleTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/role.tld</taglib-location>
	  </taglib>		  
	  <taglib> 
		   <taglib-uri>GroupTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/userGroupSelect.tld</taglib-location>
	  </taglib>		
	  <taglib> 
		   <taglib-uri>ChannelTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/channel.tld</taglib-location>
	  </taglib>	
	  <taglib> 
		   <taglib-uri>TopicTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/topic.tld</taglib-location>
	  </taglib>	
	  <taglib> 
		   <taglib-uri>FriendlinkCtgTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/friendlinkctg.tld</taglib-location>
	  </taglib>	
	  <taglib> 
		   <taglib-uri>GuestbookCtgTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/guestbookctg.tld</taglib-location>
	  </taglib>	
	  <taglib> 
		   <taglib-uri>AdvertisingSpaceTagLib</taglib-uri>
		   <taglib-location>/WEB-INF/dwcms_taglib/advertisingspace.tld</taglib-location>
	  </taglib>	
	  <jsp-property-group>  
		   <description>JSP ENCODING</description>
		   <display-name>JSPConfiguration</display-name>
		   <url-pattern>*.jsp</url-pattern>
		   <el-ignored>false</el-ignored>
		   <page-encoding>UTF-8</page-encoding>
		   <scripting-invalid>false</scripting-invalid>  
	  </jsp-property-group>  
	</jsp-config>   
 
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>

</web-app>
